<div>
  <label for="contact-name">Name</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Picture</label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>


<div *ngFor="let contactList of contacts">
  <app-single-contact [oneSingleContact]='contactList' (contactBeingDeleted)="deleteTheContact($event)">  </app-single-contact>
    <!-- If its input use Brackets & if output use Parens-->
</div>